
@model CategoryItemsViewmodel;
<br />
<br />
<br />
<link href="~/css/swiper-bundle.min.css" rel="stylesheet" />

<div style="
     font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
     font-size: 14px;
     color: #000;
     margin-bottom:15px;
     display:flex;
     justify-content:center;
     align-items:center;
     min-height:100vh;
     background:#111;">

    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">

            @foreach (var item in Model.items)
            {
                var photopath = "~/Images/" + (item.Photopath ?? "noimage.jpg");

                <div class="swiper-slide"> <a asp-controller="home" asp-action="ItemDetails"><img src="@photopath" style="width:250px;height:250px" asp-append-version="true" /></a></div>

            }<!--1------------------------------>


        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>

    <!-- Swiper JS -->
    <script src="../package/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
</div>

<style>

    .swiper-container {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 250px;
        height: 250px;
        background: #000;
        -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0006);
    }
</style>
<script src="~/js/swiper-bundle.min.js"></script>
@section Scripts {
    <script>
        var swiper = new Swiper('.swiper-container', {
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: 'auto',
            coverflowEffect: {
                rotate: 20,
                stretch: 0,
                depth: 200,
                modifier: 1,
                slideShadows: true,
            },
            loop: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
            },
        });
    </script>
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
                    <div class="panel-group category-products" id="accordian">
                        <div class="panel panel-default">

                            @foreach (var cat in Model.categories)
                            {

                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a asp-controller="home" asp-action="CategoryItems" asp-route-id="@cat.ID">
                                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                            @cat.CategoryName
                                        </a>
                                    </h4>
                                </div>

                            }

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">Features Items</h2>
                    @foreach (var item in Model.items)
                    {
                        var photopath = "~/Images/" + (item.Photopath ?? "noimage.jpg");

                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="@photopath" asp-append-version="true" alt="" />
                                <h2>@item.SellPrice</h2>
                                <p>@item.SellPrice</p>
                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                            </div>
                            <div class="product-overlay">
                                <div class="overlay-content">
                                    <h2>@item.SellPrice</h2>
                                    <p>@item.SellPrice</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="choose">
                            <ul class="nav nav-pills nav-justified">
                                <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                                <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                    }


                </div>
            </div>
        </div>

    </div>

    <div class="pb-5">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg">
                    <div class="custom-pagination">
                        <a href="#" class="active">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>